html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

ul {
  padding-left: 0;
  list-style-type: none; }
  ul > li {
    list-style-type: none; }

a {
  color: #039be5;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent; }
.bold {
    font-weight: 700;
}


/*********************
  Media Query Classes
**********************/
/* @media only screen and (max-width: 600px) {
  .hide-on-small-only, .hide-on-small-and-down {
    display: none !important; } }

@media only screen and (max-width: 992px) {
  .hide-on-med-and-down {
    display: none !important; } }

@media only screen and (min-width: 601px) {
  .hide-on-med-and-up {
    display: none !important; } }

@media only screen and (min-width: 600px) and (max-width: 992px) {
  .hide-on-med-only {
    display: none !important; } }

@media only screen and (min-width: 993px) {
  .hide-on-large-only {
    display: none !important; } }

@media only screen and (min-width: 993px) {
  .show-on-large {
    display: block !important; } }

@media only screen and (min-width: 600px) and (max-width: 992px) {
  .show-on-medium {
    display: block !important; } }

@media only screen and (max-width: 600px) {
  .show-on-small {
    display: block !important; } }

@media only screen and (min-width: 601px) {
  .show-on-medium-and-up {
    display: block !important; } }

@media only screen and (max-width: 992px) {
  .show-on-medium-and-down {
    display: block !important; } }

@media only screen and (max-width: 600px) {
  .center-on-small-only {
    text-align: center; } } */



.row {
  margin-left: auto;
  margin-right: auto; }
  .row:after {
    content: "";
    display: table;
    clear: both; }
  .row .col {
    float: left;
    box-sizing: border-box;
    min-height: 1px; }
    .row .col.s1 {
      width: 8.33333%;
      margin-left: auto;
      left: auto;
      right: auto; }
    .row .col.s2 {
      width: 16.66667%;
      margin-left: auto;
      left: auto;
      right: auto; }
    .row .col.s3 {
      width: 25%;
      margin-left: auto;
      left: auto;
      right: auto; }
    .row .col.s4 {
      width: 33.33333%;
      margin-left: auto;
      left: auto;
      right: auto; }
    .row .col.s5 {
      width: 41.66667%;
      margin-left: auto;
      left: auto;
      right: auto; }
    .row .col.s6 {
      width: 50%;
      margin-left: auto;
      left: auto;
      right: auto; }
    .row .col.s7 {
      width: 58.33333%;
      margin-left: auto;
      left: auto;
      right: auto; }
    .row .col.s8 {
      width: 66.66667%;
      margin-left: auto;
      left: auto;
      right: auto; }
    .row .col.s9 {
      width: 75%;
      margin-left: auto;
      left: auto;
      right: auto; }
    .row .col.s10 {
      width: 83.33333%;
      margin-left: auto;
      left: auto;
      right: auto; }
    .row .col.s11 {
      width: 91.66667%;
      margin-left: auto;
      left: auto;
      right: auto; }
    .row .col.s12 {
      width: 100%;
      margin-left: auto;
      left: auto;
      right: auto; }
    @media only screen and (min-width: 601px) {
      .row .col.m1 {
        width: 8.33333%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.m2 {
        width: 16.66667%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.m3 {
        width: 25%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.m4 {
        width: 33.33333%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.m5 {
        width: 41.66667%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.m6 {
        width: 50%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.m7 {
        width: 58.33333%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.m8 {
        width: 66.66667%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.m9 {
        width: 75%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.m10 {
        width: 83.33333%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.m11 {
        width: 91.66667%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.m12 {
        width: 100%;
        margin-left: auto;
        left: auto;
        right: auto; }
      }
    @media only screen and (min-width: 993px) {
      .row .col.l1 {
        width: 8.33333%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.l2 {
        width: 16.66667%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.l3 {
        width: 25%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.l4 {
        width: 33.33333%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.l5 {
        width: 41.66667%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.l6 {
        width: 50%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.l7 {
        width: 58.33333%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.l8 {
        width: 66.66667%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.l9 {
        width: 75%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.l10 {
        width: 83.33333%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.l11 {
        width: 91.66667%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.l12 {
        width: 100%;
        margin-left: auto;
        left: auto;
        right: auto; }
      }
/* Imported from Materialize CSS */ 


html {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 100%;
  font-weight: normal;
  color: #212121;
  line-height: 1.5; 
}
body {
  font-family: 'Oxygen', sans-serif;
  font-size: 1.125rem;
  line-height: 1.5; 
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}
#agenda {
  background: url(../img/agenda-bg.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0; 
}
#agenda .month-wrapper {
  float: none;
  height: 640px;
  overflow-x: auto;
  overflow-y: hidden;
  margin: 0 auto;
  white-space: nowrap;
  will-change: transform;
  transition: transform 1s ease-in-out;
  transform: translateX(0px); 
}
#agenda .month-wrapper.scrolled {
  transform: translate(-29.412%); 
}
#agenda .month-wrapper .month {
  height: 100%;
  color: #fff;
  text-transform: uppercase;
  z-index: 2; 
}
#agenda .month-wrapper .month p {
  padding: 10px;
  font-size: 0.75em;
  transition: color .4s; 
}
#agenda .month-wrapper .month .event, #agenda .month-wrapper .month .no-event {
  font-size: .8em;
  width: 290px;
  white-space: normal;
  padding: 10px;
  position: relative;
  z-index: 3;
}
#agenda .month-wrapper .month .event, #agenda .month-wrapper .month .no-event {
  display: none;
  background: rgba(0, 0, 32, 0.8);
  margin-bottom: 10px; 
}
#agenda .month-wrapper .month .event p {
  font-size: .8em;
  padding: 0;
  margin: 0; 
}
#agenda .month-wrapper .month .event-url a {
  margin-top: 2px;
  display: inline-block;
}
#agenda .month-wrapper .month .event p.event-title {
  font-size: .9em;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 4px; 
  min-height: 30px;
}
#agenda .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background: rgba(0, 57, 123, 0.6);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  opacity: 1; 
}

.agenda-btn {
position: absolute;
bottom: 10px;
width: 50px;
height: 50px;
line-height: 20px;
padding: 15px;
text-align: center;
background-color: #03a9f4;
color: #fff;
border-radius: 50%; 
}
.agenda-btn.btn-left {
  right: calc(50% + 10px); 
}
.agenda-btn.btn-right {
  left: calc(50% + 10px); 
}
.agenda-btn.inactive {
  opacity: .4;
  pointer-events: none; 
}
.btn {
  text-decoration: none;
  color: #fff;
  background-color: #05a6dc;
  text-align: center;
  letter-spacing: .5px;
  transition: .2s ease-out;
  cursor: pointer;
  font-size: 1rem;
  outline: 0;
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 2rem;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  width: 240px;
}
[class^="icon--"], [class*=" icon--"] {
  font-family: 'fontello' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
    position: relative;
    top: -4px;
}
#agenda .month-wrapper .month .event .icon, #agenda .month-wrapper .month .no-event .icon {
  display: inline;
  float: left;
  padding-right: 4px;
  font-size: 1.4rem;
}
#agenda .dropdown-wrapper {
  margin: 40px auto 20px;
  width: 240px;
}
#agenda-dropdown {
  width: 240px;
  height: 0px;
  overflow-y: scroll;
  margin: 0 auto;
  position: absolute;
  z-index: 1;
}
#agenda-dropdown.active {
  height: 256px;
  transition: height .4s;
}
#agenda-dropdown li {
  clear: both;
  color: rgba(0, 0, 0, 0.87);
  cursor: pointer;
  line-height: 1.5rem;
  width: 100%;
  text-align: left;
  text-transform: none;
}
#agenda-dropdown li.active a {
  background-color: #eee;
}
#agenda-dropdown li > a {
  background-color: #fff;
  color: #05a6dc;
  display: block;
  line-height: 20px;
  padding: 8px 16px;
}
#agenda-dropdown li.divider {
  min-height: 0;
  height: 1px;
  background-color: #ccc;
}
.dropdown-wrapper {
  text-align: center;
}

.button--rounded.button--light {
  background-color: #fff;
  color: #03a9f4;
  border-color: transparent;
  border-radius: 2em;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
#agenda .month-wrapper .month .button--rounded {
  padding: 0.25rem 0.9375rem;
}
.month > div.event:nth-of-type(n+5) {
  display: none!important; 
} /* hide events if more than 4 */

@media only screen and (max-width: 600px) {
  .hide-on-small-only {
    display: none !important;
  }
  #agenda .month-wrapper {
    width: 100% !important; 
  }
  #agenda .month-wrapper .month.active {
    display: block;
    transform: translateX(0);
  }
  #agenda .month-wrapper .month .dateText {
    font-size: 1.25em; 
    text-align: center;
  }
  #agenda .month-wrapper .month .shortMonth {
    display: none; 
  }
  #agenda .month-wrapper .month .event {
    margin: 10px auto;
    display: block; 
  }
  #agenda .month-wrapper .month {
    display: none;
  }
  #agenda .month-wrapper .month .month-link {
    margin: 1rem;
    display: flex;
    justify-content: center;
  }
}

@media only screen and (min-width: 601px) {
  section {
    padding: 2.5rem;
  }
  .hide-on-med-and-up {
    display: none !important; 
  }
  #agenda .month-wrapper .month {
    width: 5.882352%; 
  }
  #agenda .month-wrapper .month.show:hover {
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.67) 2%, rgba(0, 0, 0, 0.46) 98%, rgba(0, 0, 0, 0.46) 100%);
    cursor: default; 
  }
  #agenda .month-wrapper .month.show:hover .dateText {
    color: #03a9f4; 
  }
  #agenda .month-wrapper .month:not(:last-of-type) {
    border-right: 2px dashed;
    border-right-color: rgba(255, 255, 255, 0.35); 
  }
  #agenda .month-wrapper .month.second-half .event, #agenda .month-wrapper .month.second-half .month-link {
    float: right; 
  }
  #agenda .month-wrapper .month.show:hover .dateText {
    color: #03a9f4; 
  }
  #agenda .month-wrapper .month .month-link {
    display: none;
  }
  #agenda .month-wrapper .month.show:hover .event,  #agenda .month-wrapper .month.show:hover .no-event,  #agenda .month-wrapper .month.show:hover .month-link {
    display: block; 
  }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
  #agenda .month-wrapper .month .fullMonth {
    display: none; 
  } 
}

@media only screen and (min-width: 993px) {
  #agenda .month-wrapper .month .shortMonth {
    display: none; 
  } 
}

/* -------------------------------------------------------------- */


/* #agenda {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0; }
  #agenda .month-wrapper {
    float: none;
    height: 600px;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 0 auto;
    white-space: nowrap;
    will-change: transform;
    transition: transform 1s ease-in-out;
    transform: translateX(0px); }
    @media only screen and (max-width: 600px) {
      #agenda .month-wrapper {
        width: 100% !important; } }
    #agenda .month-wrapper.scrolled {
      transform: translate(-29.412%); }
    #agenda .month-wrapper .month {
      height: 100%;
      color: #fff;
      text-transform: uppercase;
      z-index: 2; }
      #agenda .month-wrapper .month p {
        padding: 10px;
        font-size: 0.75em;
        transition: color .4s;
        text-align: center;
        white-space: normal; }
        @media only screen and (max-width: 600px) {
          #agenda .month-wrapper .month p {
            font-size: 1.25em; } }
      @media only screen and (min-width: 993px) {
        #agenda .month-wrapper .month .shortMonth {
          display: none; } }
      @media only screen and (max-width: 600px) {
        #agenda .month-wrapper .month .shortMonth {
          display: none; } }
      @media only screen and (min-width: 601px) and (max-width: 992px) {
        #agenda .month-wrapper .month .fullMonth {
          display: none; } }
      #agenda .month-wrapper .month .event {
        font-size: .8em;
        width: 290px;
        white-space: normal;
        padding: 10px;
        position: relative;
        z-index: 3; }
      #agenda .month-wrapper .month.show:hover .event {
        display: block; }
      @media only screen and (min-width: 601px) {
        #agenda .month-wrapper .month.second-half .event {
          float: right; } }
      #agenda .month-wrapper .month .event {
        display: none;
        background: rgba(0, 0, 32, 0.9);
        margin-bottom: 10px; }
        @media only screen and (max-width: 600px) {
          #agenda .month-wrapper .month .event {
            margin: 10px auto;
            display: block; } }
        #agenda .month-wrapper .month .event p {
          font-size: .8em;
          padding: 0;
          margin: 0; }
          #agenda .month-wrapper .month .event p.event-title {
            font-size: 1.1em;
            font-weight: 700;
            line-height: 1.2;
            margin-bottom: 4px; }
  #agenda .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background: rgba(0, 57, 123, 0.6);
    opacity: 1; }

.agenda-btn {
  position: absolute;
  bottom: 10px;
  width: 50px;
  height: 50px;
  line-height: 20px;
  padding: 15px;
  background-color: #03a9f4;
  color: #fff;
  border-radius: 50%; }
  .agenda-btn.btn-left {
    right: calc(50% + 10px); }
  .agenda-btn.btn-right {
    left: calc(50% + 10px); }
  .agenda-btn.inactive {
    opacity: .4;
    pointer-events: none; } */